@import url(https://db.onlinewebfonts.com/c/9b057572ee016725c6ffb9554036391d?family=FiraGO+Bold);
@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:400');


.mainContainer {
    max-width: 100vw;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    height: 129px;
    background-color: #006A9F;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

}

.insideMainContainer {
    max-width: 1300px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.insideLeftContainer {
    max-width: 800px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-firago);
    font-family: 'FiraGO';
}

.insideRighttContainer {
    max-width: 166px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-firago);
    font-family: 'FiraGO';
    position: relative;
}

.roundDiv {
    width: 62px;
    height: 62px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.manLogoOnHover {
    display: none;
}

.roundDiv:hover .manLogoOnHover {
    display: block;
}

.roundDiv:hover .manLogo {
    display: none;
}

p {
    cursor: pointer;
}

img {
    cursor: pointer;
}

.myCabinet {
    font-size: 20px;
}

.redUnderLineP {
    background-color: white;
}

.redUnderLineP {
    height: 5px;
    width: 130%;
    background-color: #006A9F;
    margin-left: -15px;
    position: relative;
}

.dropDownDivforRedLine {
    width: 615px;
    height: 303px;
    position: absolute;
    top: 5px;
    box-shadow: 0px 10px 40px #006A9F1A;
    border-radius: 1px 8px 8px 8px;
    display: none;
    background-color: white;
    opacity: 1 !important;
    z-index: 100;
}

.insideDropDownDiv {
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #707070;
    font-size: 18px;
    font-family: 'FiraGO';
}

.individualuri {
    font-family: inherit;
}

.redPOuterDiv:hover .dropDownDivforRedLine {
    display: block;

}

.redPOuterDiv:hover .redUnderLineP {
    background: transparent linear-gradient(90deg, var(--unnamed-color-ee303c) 0%, #9E0621 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(90deg, #EE303C 0%, #9E0621 100%) 0% 0% no-repeat padding-box;

}

.divForLogoAndP {
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
}

.dropLeftDiv {
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    position: relative;
}

.healthLogo {
    width: 16px;
    height: 20px;
    padding-right: 24px;
    padding-left: 55px;
}

.alreadyDropped {
    max-width: 413px;
    width: 100%;
    height: 143px;
    background-color: #F2F2F2;
    position: absolute;
    left: 100%;
    display: none;
    background: var(--unnamed-color-f2f2f2) 0% 0% no-repeat padding-box;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 0px 12px 12px 0px;
    opacity: 1;
    color: #707070;
    font-size: 18px;
    font-family: 'FiraGO';
    z-index: 1;
}

.rightArrowIcon {
    width: 0;
    height: 0;
    border-left: 6.5px solid transparent;
    border-right: 6.5px solid transparent;
    border-bottom: 13px solid #D0D0D0;
    opacity: 1;
    transform: rotate(90deg);
    margin-left: 88px;
    cursor: pointer;
}

@media (max-width:1400px) {
    .alreadyDropped {
        left: 33%;
        top: 100%;
        border-radius: 0px 0px 12px 12px;
    }

    .rightArrowIcon {
        transform: rotate(180deg);
    }
}

.divForFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 48px;
    padding-top: 17px;
}

.dropLeftDiv:hover .alreadyDropped {
    display: block;
}

.divForLogoAndP:hover {
    background-color: #EE303C;
    color: white;
    cursor: pointer;
}

.healthLogoOnHover {
    width: 16px;
    height: 20px;
    padding-right: 24px;
    padding-left: 55px;
    display: none;
}

.divForLogoAndP:hover .healthLogoOnHover {
    display: block;
}

.divForLogoAndP:hover .healthLogo {
    display: none;
}

.divForLogoAndP:hover .rightArrowIcon {
    border-left: 6.5px solid transparent;
    border-right: 6.5px solid transparent;
    border-bottom: 13px solid white;
}


.callToAgent {
    width: 144px;
    height: 121px;
    background-color: #EE303C;
    position: absolute;
    top: 20%;
    right: 0px;
    background: var(--unnamed-color-ee303c) 0% 0% no-repeat padding-box;
    background: #EE303C 0% 0% no-repeat padding-box;
    border-radius: 12px 0 0 12px;
    opacity: 1;
    color: white;
    font-family: "FiraGo";
    font-weight: bold;
    padding-left: 26px;
    padding-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.callToAgent:hover {
    cursor: pointer;
    width: 154px;
}

.phoneLogomeore {
    width: 30.13px;
    height: auto;
}

.unisonis-logo-hoverze {
    display: none;
}

.burger-icon {
    width: auto;
    height: 25px;
    display: none;
    margin-top: 45px;
}

.upcolor-for-mobile {
    background-image: linear-gradient(rgba(0, 106, 159, .302), rgba(0, 106, 159, 0));
    width: 100%;
    height: 20.02px;
    /* position: relative;
    top: 0;
    z-index: 2; */
    position: absolute;
}

@media (max-width:1090px) {
    .insideLeftContainer {
        max-width: 700px;
    }
}

@media (max-width:1000px) {
    .insideRighttContainer {
        display: none;
    }

    .redPOuterDiv {
        display: none;
    }

    .insideLeftContainer {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    .mainContainer {
        background-color: white;
        position: relative;
        padding-left: 27px;
        padding-right: 27px;
    }

    .unisonis-logo-hoverze {
        display: block;
        height: 40px;
        width: auto;
    }

    .unisonis-logo {
        display: none;
    }

    .burger-icon {
        display: block;
    }

    .mainContainer {
        height: 100px;
    }
    .callToAgent{
        display: none;
    }
}